In [183]:
from bs4 import BeautifulSoup
import requests
import os
from splinter import Browser
import pandas as pd

In [100]:
url = 'https://mars.nasa.gov/news/'

In [101]:
soup = BeautifulSoup(response.text, 'html.parser')

In [102]:
results = soup.find_all('div', class_ = 'slide')
print(len(results))

6

In [103]:
print(results[1])

<div class="slide">
<div class="image_and_description_container">
<a href="/news/8442/nasas-curiosity-mars-rover-finds-a-clay-cache/">
<div class="rollover_description">
<div class="rollover_description_inner">
The rover recently drilled two samples, and both showed the highest levels of clay ever found during the mission.
</div>
<div class="overlay_arrow">
<img alt="More" src="/assets/overlay-arrow.png"/>
</div>
</div>
<img alt="NASA's Curiosity Mars Rover Finds a Clay Cache" class="img-lazy" data-lazy="/system/news_items/list_view_images/8442_PIA23240_32x24.jpg" src="/assets/loading_320x240.png"/>
</a>
</div>
<div class="content_title">
<a href="/news/8442/nasas-curiosity-mars-rover-finds-a-clay-cache/">
NASA's Curiosity Mars Rover Finds a Clay Cache
</a>
</div>
</div>

In [29]:
for result in results:
    title = result.find('div',class_="content_title").text
    cont = result.find('div', class_ = "rollover_description_inner").text
    
print(title)
print(cont)

NASA's InSight Places First Instrument on Mars



In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

In [136]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [137]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [138]:
browser.click_link_by_partial_text('FULL ')

In [139]:
response = requests.get(url)

In [143]:
fea_soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
print(fea_soup.prettify())

In [146]:
fea_soup.find_all('div',id_ = "main_container")

[]

In [165]:
url = 'https://twitter.com/marswxreport?lang=en'

In [166]:
response = requests.get(url)

In [167]:
wea_soup = BeautifulSoup(response.text, 'html.parser')

In [168]:
# print(wea_soup)

In [180]:
results = wea_soup.find_all('span',class_ = "css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0")

In [181]:
print(len(results))

0

In [182]:
print(results)

[]

In [184]:
url = 'https://space-facts.com/mars/'

In [185]:
tables = pd.read_html(url)
len(tables)

3

In [186]:
print(type(tables))
print(type(tables[0]))

<class 'list'>
<class 'pandas.core.frame.DataFrame'>

In [188]:
print(tables[0])

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [189]:
df = tables[0]
df.columns = ['','values']

In [190]:
df

                                                values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers